/* Globale */
body {
    margin: 0px;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-nav {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 1.7em;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    position: fixed;
    top: 0;
    padding-bottom: 2px;
}

.header-nav img {
    max-width: 50px;
    padding-top: 5px;
}

nav {
    position: fixed;
    z-index: 1000;
    top: 64px;
    background-color: rgba(0, 0, 0, 0.9);
    max-width: 250px;
    padding: 10px;
    right: 0px;
    display: none;
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

nav li {
    padding: 15px;
}

nav ul {
    margin: 0px 10px;
    list-style-type: none;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

.current {
    text-decoration: underline;
}

.search-bar {
    flex-direction: row;
    gap: 0px;
    margin-bottom: 3px;
}

.search-input {
    max-width: 200px;
    min-width: 27px;
    width: 100%;
    font-size: .6em;
    padding: 1.8px;
    margin: 0px;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid transparent;
}

.search-btn {
    background-color: #FFF;
    border: 1px solid transparent;
    padding: 3.7px;
    border-radius: 0px 6px 6px 0px;
    cursor: pointer;
}

.fa-solid:hover, .fa-brands:hover, nav a:hover, .footer-link:hover {
    color: #07BF00;
}

.header-div {
    display: grid;
}

header {
    background-image: url(../img/header-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 150px;
}

h1, h2, h3, h5 {
    font-family: Elevon;
    color: #FFF;
    text-align: center;
}

h1 {
    margin: 80px auto 10px;
}

.button-img img {
    height: 200px;
    border-radius: 100%;
    width: 165px;
    box-shadow: 2px 2px 1px #C4C4C4;
}

.button-img {
    display: flex;
    gap: 40px;
    margin: 50px auto;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    text-align: center;
    font-family: Elevon;
}

.btn-img-hover a {
    transition-property: color;
    transition-duration: 1s;
}

.btn-img-hover a:hover {
    color: #2702F2;
}

h4 {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

footer {
    background-color: #1B00AC;
    color: #FFF;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.footer-icons {
    margin: auto;
    font-size: 2.8em;
    cursor: pointer;
}

.footer-icons i {
    padding: 20px 5px;
}

.footer-copy {
    margin: auto;
}

.footer-link {
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}

.button {
    background-color: #1D7D8C;
    color: #FFF;
    padding: 10px;
    width: 100px;
    border-radius: 6px;
    text-align: center;
    text-transform: capitalize;
    border: 2px solid #1D7D8C;
    transition-property: color border background-color;
    transition-duration: 1s;
}

.button:hover {
    color: #1D7D8C;
    border: 2px solid #1D7D8C;
    background-color: #FFF;
}


/* Index */
.home-section-one, .home-section-two {
    background-color: #2702F2;
    width: 100%;
    color: #FFF;
    padding-bottom: 35px;
}

h3 {
    padding: 20px;
    font-size: 1.8em;
}

.home-section-one p {
    max-width: 600px;
    margin: 0px auto;
    padding: 0px 15px;
}

.section-two-flex {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    max-width: 800px;
    margin: auto;
    align-items: center;
}

.home-section-two p {
    margin: 0px auto;
    padding: 0px 15px;
}

.section-two-flex img {
    width: 350px;
}

.home-section-three {
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    margin: 50px auto;
    max-width: 380px;
}

.home-visit, .home-our-goal {
    background-color: #AE0FF2;
    max-width: 400px;
    min-height: 400px;
    box-shadow: 2px 2px 1px #C4C4C4;
}

h5 {
    font-size: 1.7em;
}

.home-section-three p {
    padding: 0px 60px;
    font-size: 1.3em;
}

/*Explore*/
.explore-site {
    margin: 0px 20px;
}

.explore-site h3, .news h3 {
    color:#000;
    text-transform: uppercase;
}

.explore-site h3 {
    font-size: 1.2em;
}

.images-bigger img {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 6px;
}


.explore-kids, .explore-teachers, .explore-researchers {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-bottom: 40px;
}


/*Exhibition spaces*/
.exhibition-flex h3 {
    margin: 0;
}

.exhibition-flex {
    color: #FFF;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    align-items: center;
    max-width: 1000px;
    gap: 50px;
    padding-bottom: 20px;
}

.exhibition-flex p {
    padding: 0px 20px;
    
}

.exhibition-one, .getinvolved-section-two {
    background-color: #AE0FF2;
}

.exhibition-two {
    background-color: #E01987;
}

.exhibition-three {
    background-color: #068A01;
}

.exhibition-four, .getinvolved-section-three {
    background-color: #CC00BE;
}

.exhibition-five, .getinvolved-section-one {
    background-color: #2702F2;
}


/*News*/
.news {
    text-align: center;
}

.only-big-screen-img, .only-big-screen-img1 {
    display: none;
}

.news h4, .contact h4 {
    font-family: Elevon;
    font-size: 1.3em;
}

.news .button-img h4 {
    font-size: 1em;
}

.news-section-one, .news-section-two, .news-section-three {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

.news p {
    max-width: 500px;
    margin: 0px auto 30px;
    padding: 0px 10px;
    text-align: initial;
}

.news-img {
    display: flex;
    gap: 20px;
    margin: 5px auto 50px;
}

.news-img img, .skeleton-img img, .exhibition-img img {
    border-radius: 6px;
    width: 100%;
    height: auto;
    max-width: 345px;
    margin: 0px auto;
}

.news .button-img, .explore-site .button-img, .exhibition-site .button-img {
    max-width: 370px;
}

/*Get involved*/
.getinvolved {
    color: #FFF;
}

.getinvolved-section-one {
    background-color: #2702F2;
}

.getinvolved-flex {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding-bottom: 50px;
}

.getinvolved-p {
    padding: 20px;
    max-width: 600px;
}

.getinvolved h3, .contact-form h3 {
    margin-bottom: 0px;
}

/*Contact*/
.contact-form {
    background-color: #CC00BE;
    max-width: 600px;
    margin: 0px 10px;
    border-radius: 6px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
}

.form-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form label {
    margin-left: 30px;
    color: #FFF;
}

input, textarea {
    padding: 6px;
    margin: 0px 30px;
    font-size: 1em;
}

textarea {
    min-height: 200px;

}

input[type=submit] {
    margin: 20px;
    min-width: 200px;
}

.contact-section {
    background-color: #2702F2;
    max-width: 380px;
    height: 350px;
    color: #FFF;
    border-radius: 6px;
}

.contact-section h4 {
    text-align: center;
    padding-top: 20px;
}

.contact-section p {
    padding: 0px 30px;
}

.contact-section i {
    display: block;
    text-align: center;
    font-size: 2.5em;
    padding-top: 30px;
}

.contact-opening-hours p {
    margin: 3px 0px;
    text-align: center;
}

.contact-section-flex {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    max-width: 380px;
    margin: 50px auto;
}

.contact .fa-solid:hover{
    color: #FFF;
}


@media (min-width:600px) {
    .button-img {
        flex-direction: row;
        max-width: 600px;
    }

    .section-two-flex {
        flex-direction: row;
    }

    input, textarea {
        min-width: 400px;
    }

    .contact-form {
        margin: auto;
    }

}

@media (min-width:699px) {
    .search-box {
        max-width: 300px;
    }

    .home-section-three {
        max-width: 1000px;
    }

    .explore-kids, .explore-researchers, .exhibition-flex, .home-section-three {
        flex-direction: row;
    }

    .explore-teachers {
        flex-direction: row-reverse;
    }

    .explore-kids div, .explore-teachers div, .explore-researchers div {
        max-width: 400px;
    }
    
    .exhibition-img img {
        margin: 20px;
        width: 400px;
        
    }

    .only-big-screen-img {
        display: block;
    }

    .contact-section-flex {
        grid-template-columns: repeat(2, 1fr);
        max-width: 700px;
    }

}

@media (min-width:1000px) {
    .explore-site {
        max-width: 1000px;
        margin: auto;
    }

    .explore-kids div, .explore-teachers div, .explore-researchers div {
        max-width: 540px;
    }

    .only-big-screen-img1 {
        display: block;
    }

    .getinvolved-flex {
        flex-direction: row;
    }

    .getinvolved-p {
        padding: 0px 50px;
    }

    .contact-section-flex {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1000px;
    }

    .header-nav {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: end;
        justify-items: center;
        gap: 20px;
    }

    .header-nav label {
        display: none;
    }

    nav {
        display: block;
        position: static;
        max-width: 630px;
        padding: 0px;
        grid-column: 4 / span 3;
        font-size: .7em;
        background-color: transparent;
    }

    nav li {
        display: inline-block;
        padding: 2px 4px;
    }

    nav ul {
        padding: 0px;
    }

    .skeleton-img img {
        max-height: 300px;
        max-width: 420px;
    }
    
    
}
